 <head>
  <title>FAQ</title>
   <link rel="icon" href="../../resources/img/tab_icon.png" >
   
   <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
   <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   <link href="../../resources/css/faq.css" rel='stylesheet'>
   <link href="../../resources/css/HelpTab.css" rel='stylesheet'>
   <link href="../../resources/css/parallax.css" rel='stylesheet'>

 </head>


<!--Background Color -->
<div class="parallax">
<body style = "background-color: #88BBAF;">


<body>
    
<body class="center text-center" style="background-image: url('../../resources/img/backg.png');background-size:cover">
       
 <%- include('../partials/nav_bar') %>

     <body>
       <main>
          <br><br><br>
      
            <div class="glist-header">
               <h2>FAQ</h2>
            </div>


            <nav>

              <label for="touch"><span>Q: Can you change your email or password?</span></label>               
              <input type="checkbox" id="touch"> 
            
              <ul class="slide">
                A: Unfortunately, we currently do not offer the feature to change your email or password. 
              </ul>
            
            </nav> 

            <nav>

              <label for="touch1"><span>Q: Can you add products to your personalized grocery list?</span></label>               
              <input type="checkbox" id="touch1"> 
            
              <ul class="slide1">
                A: Yes! To add products to your grocery list, simply select the + icon above the category which you wish to modify. For example, if you wish to add lettuce to your list, select the + icon above the produce section to add a new item. Then, you can customize it by writing a name in the center text field, and adjusting the quantity on the text box to the right.
              </ul>
            
            </nav> 

            <nav>
              <label for="touch2"><span>Q: What if I need help with certain features of the website?</span></label>               
              <input type="checkbox" id="touch2"> 
            
              <ul class="slide2">
                A: We have a handy feature in our Help Tab titled “Website Guide.” In this page, you will find many sections dedicated to common technical questions about navigating through the website!
              </ul>
            
            </nav> 

            <nav>

              <label for="touch3"><span>Q: Am I able to add specific food allergies to my profile?</span></label>               
              <input type="checkbox" id="touch3"> 
            
              <ul class="slide3">
                A: Yes you can! You can add any food allergy to your profile within the profile tab.
              </ul>
            
            </nav> 

            <nav>

              <label for="touch4"><span>Q: Am I able to add my own custom recipes instead of prebuilt ones?</span></label>               
              <input type="checkbox" id="touch4"> 
            
              <ul class="slide4">
                A: Yes! You can navigate to the recipe list tab and just fill in the blanks with what you want to add instead of a prebuilt recipe. 
              </ul>
            
            </nav> 

            <nav>

              <label for="touch5"><span>Q: How do I search for specific recipes? Let’s say I want to search for a pizza recipe?</span></label>               
              <input type="checkbox" id="touch5"> 
            
              <ul class="slide5">
                A: You can search for prebuilt recipes within the homepage or the recipe’s list located on the navbar. Navigate to the search bar and type in whichever general recipe you are looking for! 
              </ul>
            
            </nav> 

        </main>
      <script src="main.js"></script>
      </body>
</body>
</body>

</div>