<head>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
  <link rel="icon" href="../../resources/img/tab_icon.png" > 
    
  <title>Recipe Info</title>
  <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="../../resources/css/HelpTab.css">
  <link rel="stylesheet" href="../../resources/css/recipeinfo.css">

  <script src="https://kit.fontawesome.com/89f6976e69.js" crossorigin="anonymous"></script>
  <script src="../../resources/js/recipeinfo.js"></script>
  <script src="../../server.js"></script>
</head>
<body class="center text-center" style="background-image: url('../../resources/img/backg.png');background-size:cover" onload="getRecipeData('<%- recipeLink %>')">
   <%- include('../partials/nav_bar') %>
  <div class="container" id="infoContainer"></div>
  
</body>