<head>
    <title>Website Walkthrough</title>
    <link rel="icon" href="../../resources/img/tab_icon.png" > 
    
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/89f6976e69.js" crossorigin="anonymous"></script>
    <link href='../../resources/css/parallax.css' rel='stylesheet'>
    <link href='../../resources/css/walkthrough.css' rel='stylesheet'>
    <link href='../../resources/css/faq.css' rel='stylesheet'>
    <link href="../../resources/css/HelpTab.css" rel='stylesheet'>

   
   
  </head>

 <!--Background Color -->
  <div class="parallax">
  <body style = "background-color: #88BBAF;">
    <body>
      <body class="center text-center" style="background-image: url('../../resources/img/backg.png');background-size:cover">
        <%- include('../partials/nav_bar') %>
        <br><br><br>

     <body>
        <main>

            <div class="header">
              Website Walkthrough
            </div>
            <nav>

              <label for="touch"><span>How to Sign Out</span></label>               
              <input type="checkbox" id="touch"> 
            
              <ul class="slide">
                <ol>
                  <li>Hover above “Profile” on the top right of the menu bar</li>
                  <li>Select “Sign Out”</li>
                </ol>
              </ul>
            
            </nav> 

            <nav>

              <label for="touch1"><span>How to Change Profile Information</span></label>               
              <input type="checkbox" id="touch1"> 
            
              <ul class="slide1">
                <ol>
                  <li>Select “Profile” on the top right of the menu bar</li>
                  <li>Select the center button that reads “Edit Profile</li>
                  <li>Type in the desired text box to rewrite the current data</li>
                  <li>Make sure to save changes by selecting the “Save” button on the bottom right of the screen</li>
                </ol> 
              </ul>
            
            </nav> 

            <nav>

              <label for="touch2"><span>How to Create a Recipe</span></label>               
              <input type="checkbox" id="touch2"> 
            
              <ul class="slide2">
                <ol>
                  <li>Navigate to “Home” using the menu bar</li>
                  <li>Under the search bar, click on the hyperlink that states “Or Add Your Own Recipes!” You will be directed to a page titled “Add Your Own Recipe”</li>
                  <li>In the text box titled “Recipe Name…” write the name of your desired recipe</li>
                  <li>Select the correct ingredient out of the search results. This should create a pop-up and enter your desired quantity, as well as your desired unit of measurement (tsp, tbs, and cups)</li>
                  <li>Select “Add” to add to recipe.</li>
                  <li>Return to step 4 and repeat until you have inserted all the required ingredients. Once finished, select make sure to save changes by selecting the “Save recipe” button on the bottom right of the screen</li>
                </ol> 
              </ul>
            
            </nav> 

            <nav>

              <label for="touch3"><span>How to Customize the Grocery List</span></label>               
              <input type="checkbox" id="touch3"> 
            
              <ul class="slide3">
                <ol>
                  <li>First navigate to the “Grocery List” tab located on the top of the page in the nav bar</li>
                  <li>Once you are there, you will be greeted with multiple options and lists. On these lists you will see a “+” and a “-” button. You can utilize these when you want to add or remove items from your grocery list. </li>
                </ol> 
              </ul>
            
            </nav> 

            
            <nav>

              <label for="touch4"><span>How to Add Recipes</label>               
              <input type="checkbox" id="touch4"> 
            
              <ul class="slide4">
                <ol>
                  <li>There are many ways you can add a recipe to your profile! Starting at the homepage you can search for recipes or hit the prompt and add your own.</li>
                  <li>You could also navigate to the “Recipe List” tab located in the navigation bar in order to see which recipes you have stored or if you want to add another one.</li>
                </ol> 
              </ul>
            
            </nav> 
        </main>
        <script src="main.js"></script>
    </body>
</body>
</div>