.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #A6D2CA;
    text-align: center;
  }
  .pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff, #e9bebe);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
  }
  
  @keyframes animated-gradient{
    25%{
      background-position: left bottom;
    }
    50%{
      background-position: right bottom;
    }
    75%{
      background-position: right top;
    }
    100%{
      background-position: left top;
    }
  }
  
  .pic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  a:link {
    color: #000000;
  }
  
  a:visited {
    color: #000000;
  }
  
  a:hover {
    color: #000000;
  }
  
  a:active {
    color: #000000;
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 5% auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 10px 20px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-weight: bold;
  }
  input[type = "submit"]:hover{
    background: #2ecc71;
  }

  .navbar a:hover,.dropdown:hover .dropbtn   {
    color: black;
    text-decoration: none;
  }

  .navbar a {

    width: 16.66%;
    display: inline-block;

    column-gap: 10px;
    color: white;
    text-align: left;
    vertical-align: bottom;
    font-size: 30px;
    font-family: 'Comfortaa';

  }

  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown .dropbtn {
    font-size: 30px; 
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Comfortaa';
    margin: 0;
  }

  .dropdown-content {

    display: none;
    overflow: auto;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }

  .dropdown:hover .dropdown-content {
    display: block;

  }

  .dropdown-content a {
    white-space: nowrap;
    display:block;
    float: none;
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    text-align: center;

    font-size: 20px;
  }

  .dropdown-content a:hover {
    color: #88BBAF;
  }