/*Fonts*/
@font-face{
    font-family: "Robot";
    src: url(../Fonts/Roboto-Regular.ttf);
  
  }
  
  h3{
    font-family: 'Robot';
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Robot';
    
  }
  /*Fonts*/

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(68,98,87,0.5);
    z-index: 2;
    cursor: pointer;
}
  
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    font-family: Robot;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}